<uib-tabset>
  <uib-tab ng-repeat="tab in tabs"
           active="tab.active"
           heading="{{ tab.filename }}">

    <div class="code_area" id="code_area_{{ tab.filename | removeExtension }}">
      <table>
        <tr ng-repeat="l in tab.code track by $index">

          <!--arrow sign for next line to execute-->
          <td width="20px">
            <span class="glyphicon glyphicon-arrow-right" style="color: red;"
                  ng-if="curTrace.source == tab.filename && curTrace.line == $index + 1"
                  jt-scroll></span>
          </td>

          <!--line number-->
          <td width="20px"> {{ $index + 1 }}</td>

          <td class="code_line prev_line" ng-if="preTrace.source == tab.filename && preTrace.line == $index + 1"> {{ l }} </td>
          <td class="code_line" ng-if="preTrace.source != tab.filename || preTrace.line != $index + 1"> {{ l }} </td>
        </tr>
      </table>
    </div>
  </uib-tab>
</uib-tabset>
