<div class="row">
  <div class="col-xs-2 col-sm-1">
  </div>
  <div class="col-xs-8 col-sm-6">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4 control-label">Server URL</label>

        <div class="col-sm-6">
          <input type="text" class="form-control" ng-model="server_url"
                 placeholder="JavaTutor's server address">
        </div>
        <div class="col-sm-2">
          <button class="btn btn-default" ng-click="save_url(server_url)"> Save</button>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label"></label>

        <div class="col-sm-6">
          <p style="color: #4271AE;"> {{ info }} </p>
        </div>
      </div>
    </form>

  </div>
</div>
