<div id="fixed-div" class="row">
  <div class="navbar-header navbar-default">
    <a class="navbar-brand" ng-href="#/visualize">JavaTutor</a>
    <ul class="nav navbar-nav">
      <li><a ng-href="#/edit_code">Edit Code</a></li>
    </ul>
  </div>
  <div class="col-xs-2">
  </div>
  <div id="control-panel" class="col-xs-5">
    <button type="button" class="btn btn-default btn-sm" ng-click="reset()">Reset</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="backOver()">BackOver</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="previousStep()">Back</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="nextStep()">Next</button>
    <button type="button" class="btn btn-default btn-sm" ng-click="stepOver()">StepOver</button>
    <span> {{ curStep }}</span>
  </div>

  <div class="col-xs-3">
    <div class="checkbox">
      <label> <input type="checkbox" ng-model="showStringObject" ng-change="toggleShowString(showStringObject)">
        Show String as object
      </label>
      &nbsp;&nbsp;
      <label> <input type="checkbox" ng-model="showArrows" ng-change="toggleShowArrows(showArrows)">
        Show Arrows
      </label>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-4">
    <div jt-code-area></div>
    <div class="col-xs-12">
      <span class="glyphicon glyphicon-arrow-right" style="color: red;"></span> next line to execute
      <span style="background-color: #D1A796;">&nbsp;&nbsp;line that has just executed&nbsp;&nbsp;</span>
    </div>
    <h3>console</h3>
    <div class="console">{{ curTrace.stdout }}</div>
  </div>
  <div class="col-xs-8">
    <div class="row jsplumb-fix" id="plumb-container" jt-stack-heap> </div>
  </div>
</div>
