.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

#fixed-div {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f8f8f8;
  z-index: 1000;
  border-bottom: thin groove;
}

#control-panel {
  padding-top: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.ace_editor {
  min-width: 80vh;
  min-height: 70vh;
}

/*adjust jsplumb's position*/
.row.jsplumb-fix {
  position: inherit !important;
}


.console {
  font-family: "Courier New", Courier, monospace;
  white-space: pre; /* preserve white-spaces */
  background-color: #f5f5f5;
  height: 200px;
  padding: 10px;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.code_area {
  font-family: "Courier New", Courier, monospace;

  max-height: 50vh;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
}

.code_line {
  white-space: pre; /* preserve white-spaces */
}

.prev_line {
  background-color: #f7e1b5;
}

.next_line {
  background-color: #D1A796;
}

.hand_pointer {
  cursor: pointer;
}

.active_frame {
  /*background-color: #FFFFFF;*/
  background-color: #e1ffdb;
}

.inactive_frame {
  /*background-color: #FFFFFF;*/
  background-color: #f8f8f8;
}

.static_fields {
  /*background-color: #FFFFFF;*/
  background-color: #f8f8f8;
}

.heap_instance {
  /*background-color: #FFFFFF;*/
  background-color: #ffffc6;
}

.heap_string {
  /*background-color: #FFFFFF;*/
  background-color: #e3efff;
}

.heap_array {
  /*background-color: #FFFFFF;*/
  background-color: #ffe9e2;
}
